<app-navbar></app-navbar>

<div class="main">
  <div class ="container">
    <router-outlet></router-outlet>
  
<link rel="stylesheet" href="app.component.css">

<body>
<div>
  <div class="bg-image" 
     style="background-image: url('sky3.jpg');
     background-repeat: repeat;
     background-attachment: center;
            background-size: 500% 100%">

  <br>
  <h2>--------------------------------- Youtube Search Channel ---------------------------------</h2>
  <label for ="channelName">&nbsp; Channel Name : </label>
  &nbsp;<input #channelName type ="text"  placeholder="  Write here cutie" required>
  <br><br>
  &nbsp;&nbsp;&nbsp;&nbsp; <button (click)="getData()"> Get Channels</button><br><br>
  <ul *ngFor="let channel of channels">
    <a target="_blank" href="https://www.youtube.com/channel/{{channel.id.channelId}}">
    <img class="img-thumbnail" width="150" height="150" src="{{channel.snippet.thumbnails.medium.url}}"/>
    </a>
    {{channel.snippet.channelTitle}}

  </ul>
</div>
</div>
</body>
